:root {
    /* ===================== (DIMENSIONS) ===================== */
    
    /* Scrollview */
    --scrollview-width: 300px;
    --scrollview-height: 300px;


    /* Scrollbar */
    --scrollbar-width: 15px;


    /* Scrollbar Track */
    --scrollbar-track-border-width: 1px;


    /* Scrollbar Thumb */
    --scrollbar-thumb-border-width: 1px;


    /* Scrollbar Button */
    --scrollbar-button-border-width: 1px;
    --scrollbar-button-icon-font-size: 19px;
    --scrollbar-button-icon-left: arrow_left;
    --scrollbar-button-icon-right: arrow_right;
    --scrollbar-button-icon-top: arrow_drop_up;
    --scrollbar-button-icon-bottom: arrow_drop_down;





    /* ===================== (COLORS) ===================== */

    /* Scrollview */
    --double-overflow-corner-color: #051828;


    /* Scrollbar Track */
    --scrollbar-track-border-color: linear-gradient(#0b1e2f, #06101a);
    --scrollbar-track-background-color: linear-gradient(#030a10, #081929);


    /* Scrollbar Thumb */
    --scrollbar-thumb-border-color: linear-gradient(#32536e, #28445b);
    --scrollbar-thumb-background-color: linear-gradient(#29445b, #1b2e3d);


    /* Scrollbar Button */
    --scrollbar-button-icon-color: #075a9e;
    --scrollbar-button-background-color: linear-gradient(#0e3451, #092235);
    --scrollbar-button-border-color: linear-gradient(#153752 14px, #09263c 1px);





    /* ===================== (HOVER COLORS) ===================== */

    /* Scrollbar Thumb */
    --scrollbar-thumb-border-hover-color: linear-gradient(#385e7c, #2e4f69);
    --scrollbar-thumb-background-hover-color: linear-gradient(#2f4f69, #21394b);
    

    
    /* Scrollbar Button */
    --scrollbar-button-icon-hover-color: #0865b2;
    --scrollbar-button-background-hover-color: linear-gradient(#113f62, #0c2d46);
    --scrollbar-button-border-hover-color: linear-gradient(#194262 14px, #0c314e 1px);





    /* ===================== (ACTIVE COLORS) ===================== */

    /* Scrollbar Thumb */
    --scrollbar-thumb-border-active-color: linear-gradient(#3d6687, #335774);
    --scrollbar-thumb-background-active-color: linear-gradient(#345674, #264156);


    /* Scrollbar Button */
    --scrollbar-button-icon-active-color: #0976cf;
    --scrollbar-button-background-active-color: linear-gradient(#13486f, #0e3654);
    --scrollbar-button-border-active-color: linear-gradient(#1c4a6e 14px, #0e3a5b 1px);





    /* ===================== (DISABLED COLORS) ===================== */

    /* Scrollbar Button */
    --scrollbar-button-icon-disabled-color: #063963;
    --scrollbar-button-background-disabled-color: linear-gradient(#0a263c, #071d2f);
    --scrollbar-button-border-disabled-color: linear-gradient(#0d283d 14px, #071f32 1px);
}




body {
    background-color: #051828;
}